/*=========================================================================================
    File Name: _button.scss
    Description: Styles for button.
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
@import '../_variables.scss';

.my-btn-primary {
    background-color: $primary !important;
    padding: 11px 16px 10px 16px !important;
    font-size: 14px !important;
    line-height: 17px !important;
    // font-family: SF Pro Text;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 600;
    border-radius: 4px;

    i.vs-icon {
        font-size: 20px;
        margin-right: 10px;
    }

    &:hover {
        box-shadow: none;
    }
}
