/*=========================================================================================
    File Name: _button.scss
    Description: Styles for button.
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
@import '../_variables.scss';

.form-control {
    color: $text-color-1 !important;
    line-height: 28px !important;
    height: 44px !important;
}

.form-group {
    label {
        line-height: 19px;
        margin-bottom: 8px;
        color: $text-color-1 !important;
    }
}

.vx-card.narrow {
    padding-left: 0px !important;
    padding-right: 0px !important;
    
    .vx-card__header {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}